<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>SPROUT :: Sql Promotion Utility Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sprout</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <form method="post" action="/scripts/save">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Script Title">
        </div>

        <div class="form-group">
            <label> script</label>
            <textarea class="form-control" name="script"></textarea>
        </div>

        <div class="form-group">
            <label>Jira Id</label>
            <select name="sprintName" class="form-control">
                <option>Select Sprint Name</option>
                <option value="1">Sprint-1</option>
                <option value="2">Sprint-2</option>
                <option value="3">Sprint-3</option>
            </select>
        </div>

        <div class="form-group">
            <label>Projects</label>
            <select name="project" class="form-control">
                <option>Select a project</option>
                <option th:each="project: ${projects}" value="${project.id}" th:text="${project.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <hr>

    <footer>
        <p>© 2019 Kickdrum, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


</body></html>