<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>SPROUT :: Sql Promotion Utility Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sprout</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/schema/version?id=1">Schema Version</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Scripts
        </div>
        <div class="panel-body">
            <form method="post" action="/scripts/save" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Script Title">
                </div>sc

                <div class="form-group">
                    <label>Jira Id</label>
                    <select name="jiraId" class="form-control">
                        <option>Select Jira Id</option>
                        <option scriptData="1">Jira-1</option>
                        <option scriptData="2">Jira-2</option>
                        <option scriptData="3">Jira-3</option>
                    </select>
                </div>

                <div>
                    <label> Script File</label>
                    <input type="file" name="file" size="50"/>
                </div>

                <div>
                    &nbsp;
                </div>
                <div class="form-group">
                    <label>Sprint</label>
                    <select name="sprint" class="form-control">
                        <option>Select Sprint Name</option>
                        <option th:each="sprint: ${sprints}" th:text="${sprint.name}"></option>

                    </select>
                </div>


                <div class="form-group">
                    <label>Projects</label>
                    <select name="projectId" class="form-control">
                        <option>Select a project</option>
                        <option th:each="project: ${projects}" scriptData="${project.id}" th:text="${project.name}"></option>
                    </select>
                </div>
                <input type="hidden" name="userId" value="1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr>

    <footer>
        <p>© 2019 Kickdrum, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<scriptData src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></scriptData>
<scriptData src="/js/bootstrap.min.js"></scriptData>


</body></html>
